*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: letra1;
    src: url("/font/Verve.ttf");
}
#containerprincipal{
    width: 100vw;
    margin: auto;
}
#divIniciobarra{
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100vw;
    height: 5vw;
    background-color:#0e1d21;
    
  
}
#divInicio{
    width: 100vw;
    height: 45vw;
    background-color:#0e1d21;
}
#miporta{
    width: 14vw;
    height: 4vw;
    position: relative;
    left: -12vw;
    top: 0;
    font-family: letra1;
    color: #fff;
    font-size: 2vw;
   
}
#barra{
    padding: 1vw;
    font-size: 1.4vw;
    font-family: letra1;
    display: flex;
    justify-content: space-around;
    width: 65vw;
    height: 4vw;
    background-color: #122e34;
    border-bottom-left-radius: 5vw;
    
  
}
a{
    
    color: #fff;
    text-decoration: none;
}
#cuadroTexto{
    border: yellow solid 1px;
    width: 40vw;
    height: 25vw;
    position: relative;
    top: 10vw;
    left: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}
#circulo{
    position: relative;
    top: -20vw;
    left: 60vw;
    width: 30vw;
    height: 30vw;
    border: yellow solid 1px;
    border-radius: 50vw;

}
#divSobremi{
    width: 100vw;
    height: 50vw;
    border: 1px solid black;
    background-color:#abafb5;
}
#divProyectos{
    width: 100vw;
    height: 50vw;
    border: 1px solid black;
    background-color:#0e1d21;
}
#divHabiServi{
    width: 100vw;
    height: 50vw;
    border: 1px solid black;
    background-color:#0e1d21;
}
#divContactos{
    width: 100vw;
    height: 50vw;
    border: 1px solid black;
    background-color:#0e1d21;
}

